body {
  font: bold 16px 'Blinker', sans-serif;
  background: #eee;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokemon-list .list, .pokemon-details {
  display: flex;
  flex-direction: row;
  background: #fff;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 4px;
  border: 1px solid rgb(30, 30, 30);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: 0.3s;
}
.pokemon-list .list:hover {
  transform: scale(1.01);
  transition: 0.3s;
  background: #eee
}

.pokemon-list .list .image {
  justify-content: flex-start;
  margin: 0 20px;
  width: 100px;
  height: auto;
}

.pokemon-list .list .image img {
  width: 100%;
}

.pokemon-list .content {
  justify-content: center;
}

.pokemon-list a {
  text-decoration: none;
  color: rgb(30, 30, 30);
}

.pokemon-details {
  background: #fff;
  border: 1px solid #090909;
  padding: 20px;
}

.content-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 50px;
}

.error-404 {
  background: #fff;
  border: 1px solid #090909;
  padding: 20px;
  text-align: center;
}

@media (max-width: 640px) {
  .pokemon-details img {
    width: 40%;
    height: 40%;
  }
}
