body {
  font: bold 16px 'Blinker', sans-serif;
  background: #ccc;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokemon-list .list {
  display: flex;
  flex-direction: row;
  background: #fff;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 4px;
  border: 1px solid rgb(31, 30, 30);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.pokemon-list .image {
  justify-content: flex-start;
  margin: 0 20px;
}

.pokemon-list .content {
  justify-content: center;
}
